.header_wrapper {
  height: 10vh;
  margin-bottom: 30px;
  padding: 10px 30px;
  background-color: rgb(223, 223, 223);
  box-shadow: rgb(236, 235, 235);
  display: flex;
  justify-content: space-between;
}
