.wrapper {
    max-height: 300px;
    max-width: 200px;
    border: 1px solid rgba(80, 76, 76, 0.12);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img {
    height: 200px;
    width: 176px;
    border-radius: 7px;
    object-fit: cover;
}

p {
    margin: 6px;
}

.button button {
    padding: 0;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    outline: none;  
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

button:focus {outline:none;}