.auth-form_wrapper {
  display: flex;
  justify-content: center;
}
.form {
  width: 400px;
  height: 500px;
  background-color: rgb(172, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 40px;
  h1 {
    margin: 0;
  }
}

.btn-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
