.page_wrapper {
    margin: auto;
    padding: 10px;
    height: 100vh;
    max-width: 2400px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}