.wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 60px;
    width: 100%;
}

.field_one {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-end;
    p {
        margin: 0;
        align-self: bottom;
        align-items: baseline;
        text-align:end;
        vertical-align: bottom;
        width: 100px;
        bottom: 0;
        color: rgb(30, 31, 29);  
    }
}

.field_two {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

button {
    height: 34px;
}