.input_wrapper {
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.input {
  width: 100%;
  height: 50px;
  font-size: 23px;
}

.eye {
  position: absolute;
  top:50%;
  right: 0%;
  width: 20px;
  margin-right:5%;
  margin-left:auto;
  opacity: 0.3;
}
.eye img{
  width: 100%;
height: 100%;}