.footer_wrapper {   
    background-color: rgb(153, 153, 153);
    margin-top: 30px;
    height: 15vh;
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.description{
    width: 200px;
}

.location{
    width: 200px;
}